@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!--Post model-->
@model Post
@{
    string title = ViewBag.Action + " Post";
    ViewBag.Title = title;
}

<h2>@ViewBag.Title</h2>

<!--Data form for the user to fill out to build the new post-->
<form asp-action="Edit" method="post">
    <!--Error message-->
    <div asp-validation-summary="All" class="text-danger"></div>
    <!--Drop down for the user who created-->
    <div class="form-group row">
        <label class="col-sm-2" asp-for="UserPostID">User:</label>
        <select asp-for="UserPostID" class="form-control col-sm-8">
            <option value="">Select a User</option>
            @foreach (DylanScheideggSocialMediaProject.Models.User usr in ViewBag.uUser)
            {
                <option value="@usr.UserID">@usr.FName @usr.LName</option>
            }
        </select>
    </div>
    <!--Message for the post-->
    <div class="form-group row">
        <label class="col-sm-2" asp-for="Data">Data:</label>
        <input asp-for="Data" class="form-control col-sm-8" />
    </div>
    <!--Image link-->
    <div class="form-group row">
        <label class="col-sm-2" asp-for="Image">Image Link:</label>
        <input class="form-control col-sm-8" asp-for="Image" placeholder="www.web.com/folder/img.png" />
    </div>
    <!--Date and time of creation-->
    <div class="form-group row">
        <label class="col-sm-2" asp-for="PostTime">Time:</label>
        <input asp-for="PostTime" class="form-control col-sm-8" />
    </div>
    <!--Buttons to either cancel or confirm the changes/additions-->
    <input type="hidden" asp-for="PostID" />
    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Post" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
